.homepage{
    .titleWrapper{
        h1{
            font-size: 30px;
            font-family: "rounded-thin";
        }
        #status {
            margin-top: 10px;
            font-size: 18px;
            font-weight: bold;
        }
    }
    img{
        width: 52px;
        height: 52px;
        border-radius: 50%;
    }
}